---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}

{% block preMain %}
{{
    onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": '/prototypes/example/login_journeys/URTasks/UserTaskListA.html',
                "id": "back",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}
{% endblock %}

{% block main %}

    <h1 class="ons-u-mb-s">Task 4</h1>


    <p>I want you to imagine you have attempted to create an account. However, there is an issue with the credentials you provided.

    </p>
    

        <ol>
    <li>Describe what you see.</li>
    <li>Decide what to do with the information.</li>
    <li>Take action accordingly.</li>


    </ol>
<br>
        <p>Your credentials are:
    </p>
    <ul>
        <li>Email address: <strong>sarah.hughes@ons.gov.uk</strong></li>

    </ul>
    
    <br>

{{
    onsExternalLink({
        "url": "/prototypes/example/login_journeys/URTasks/A/Task4/InvalidEmail_EmailsNotMatching.html",
        "linkText": "Start task",
        "classes": "externalLink ons-u-fs-l"
    })
}}

{% endblock %}

{% block bodyEnd %}

{% endblock %}
