---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}

{% block preMain %}
{{
    onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": '/prototypes/example/homepageV3/URTasks/UserTaskList.html',
                "id": "back",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}
{% endblock %}

{% block main %}

    <h1 class="ons-u-mb-s">Task 2</h1>


    <p>You are part of the <strong>Financial Planning</strong> project.
    </p>

    <p>You have editor access to some of the project's questionnaires but not all.</p>

    <h3 class="ons-u-mb-s ons-u-mt-xl">Task 2a</h3>

    <p>Find the number of questionnaires you have <strong>editor access</strong> to within the <strong>Financial Planning</strong> project.
    </p>

    {{
        onsExternalLink({
            "url": "/prototypes/example/homepageV3/",
            "linkText": "Start task",
            "classes": "externalLink ons-u-fs-m"
        })
    }}

    <h3 class="ons-u-mb-s ons-u-mt-l">Task 2b</h3>

    <p>Find the number of questionnaires you have <strong>view-only access</strong> to within the <strong>Financial Planning</strong> project.
    </p>

    {{
        onsExternalLink({
            "url": "/prototypes/example/homepageV3/",
            "linkText": "Start task",
            "classes": "externalLink ons-u-fs-m"
        })
    }}

{% endblock %}

{% block bodyEnd %}

{% endblock %}
