---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}

{% block preMain %}
{{
    onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": '/prototypes/example/homepageV2/URTasks/UserTaskList.html',
                "id": "back",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}
{% endblock %}

{% block main %}
    <h1>Task 5</h1>
    <p>This task will involve comparing 2 designs.</p>

{{
    onsExternalLink({
        "url": "/prototypes/example/homepage/",
        "linkText": "Task 5",
        "classes": "externalLink ons-u-fs-m"
    })
}}

    <h3 class="ons-u-mb-s ons-u-mt-m">Task 5a for Design 1</h3>

    <p>Add the following questionnaire to your starred section.
    </p>
    <ul>
        <li>Shortcode: <strong>FPS-23 FINAL</strong></li>
        <li>Access: <strong>Editor</strong></li>
    </ul>
    

{{
    onsExternalLink({
        "url": "/prototypes/example/homepage/",
        "linkText": "Start task",
        "classes": "externalLink ons-u-fs-m"
    })
}}


    <h3 class="ons-u-mb-s ons-u-mt-m">Task 5b for Design 1</h3>


    <p>Now remove this questionnaire from your starred section.
    </p>

    

{{
    onsExternalLink({
        "url": "/prototypes/example/homepage/",
        "linkText": "Start task",
        "classes": "externalLink ons-u-fs-m ons-u-pb-m"
    })
}}

    <h3 class="ons-u-mb-s ons-u-mt-xl">Task 5a for Design 2</h3>

    <p>Add the following questionnaire to your starred section.
    </p>
    <ul>
        <li>Shortcode: <strong>FPS-23 FINAL</strong></li>
        <li>Access: <strong>Editor</strong></li>
    </ul>
    

{{
    onsExternalLink({
        "url": "/prototypes/example/homepageV2/",
        "linkText": "Start task",
        "classes": "externalLink ons-u-fs-m"
    })
}}


    <h3 class="ons-u-mb-s ons-u-mt-xl">Task 5b for Design 2</h3>


    <p>Now remove this questionnaire from your starred section.
    </p>

    

{{
    onsExternalLink({
        "url": "/prototypes/example/homepageV2/",
        "linkText": "Start task",
        "classes": "externalLink ons-u-fs-m"
    })
}}

{% endblock %}

{% block bodyEnd %}

{% endblock %}
