---
group: Examples
title: Example prototype
layout: example/views/Author8colLoggedIn
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "name": "CreationEnterDetails",
        "onsubmit":  "return creationEnterDetails()"
    }
} %}

{% block head %}


{% endblock %}

{% block preMain %}

{{
    onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": '/prototypes/example/homepageV2/',
                "id": "backlink",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}

{% endblock %}

{% block main %}

    <h1><span class="ons-u-fs-m ons-u-db ons-u-mb-xs ons-u-lighter">Create questionnaire</span> Enter questionnaire details</h1>

    {{
        onsPanel({
            "body": '<p>Title and short code can be edited in Settings after the questionnaire is created</p>'
        })
    }}

    {{
        onsInput({
            "id": "title-input",
            "width": "50",
            "label": {
                "text": "Title"
            }
        })
    }}

    {{
        onsInput({
            "id": "shortcode-input",
            "width": "50",
            "label": {
                "text": "Short code (optional)"
            }
        })
    }}

    {{
        onsCheckboxes({
            "checkboxesLabel": "Additional setup (optional)",
            "checkboxesLabelClasses": "ons-u-fw-b",
            "dontWrap": true,
            "name": "setup",
            "checkboxes": [
                {
                    "id": "add-project",
                    "label": {
                        "text": "Assign to a project",
                        "description": "Projects group related questionnaires and improves filtering"
                    },
                    "value": "project"
                },
                {
                    "id": "customise-access-permissions",
                    "label": {
                        "text": "Customise access control and user permissions",
                        "description": "Options include removing the questionnaire from the directory and adding editors"
                    },
                    "value": "email"
                }
            ]
        })
    }}

    <div class="ons-u-mt-l">
        {{
            onsButton({
                "text": "Continue"
            })
        }}

        <a class="ons-u-dib ons-u-ml-s ons-u-mt-xs" href="/prototypes/example/homepageV2/">Cancel</a>

    </div>

{% endblock %}

{% block bodyEnd %}

<script>

var referringPageURL = document.referrer;
console.log("Referring Page URL: " + referringPageURL);

if (!referringPageURL.endsWith('/homepagev2/') && !referringPageURL.includes('/homepagev2/questionnairedirectory')){
    console.log('didnt come from the homepage');
    var counter = parseInt(sessionStorage.getItem('questionnaireCounter')) || 0;
    var enteredTitle = sessionStorage.getItem('Title_' + counter);
    var enteredShortcode = sessionStorage.getItem('Shortcode_' + counter);
    document.getElementById('title-input').value = enteredTitle;
    document.getElementById('shortcode-input').value = enteredShortcode;
    if(sessionStorage.getItem('Project_' + counter)){
        document.getElementById('add-project').checked = true;
    }
    if(sessionStorage.getItem('customisePermissions')){
        document.getElementById('customise-access-permissions').checked = true;
    }
}

if ((referringPageURL.includes('/homepagev2/create/addproject')) || (referringPageURL.includes('/homepagev2/create/customisepermissions') && sessionStorage.getItem('Project_' + counter))) {
    console.log('checking if project was added');
        document.getElementById('add-project').checked = true;
}


function creationEnterDetails() {
    console.log('executing');

    if (referringPageURL.endsWith('/homepagev2/') || referringPageURL.includes('/homepagev2/questionnairedirectory')) {
        
        console.log('coming from homepage');
        var counter = parseInt(sessionStorage.getItem('questionnaireCounter')) || 0;
        counter++;
        sessionStorage.setItem('questionnaireCounter', counter);

        var title = document.getElementById('title-input').value; 
        var shortcode = document.getElementById('shortcode-input').value;
        sessionStorage.setItem('Title_' + counter, title);
        sessionStorage.setItem('Shortcode_' + counter, shortcode);

        sessionStorage.setItem('Access_' + counter, 'Editor');
        sessionStorage.setItem('Owner_' + counter, 'Sam Lake');
        sessionStorage.setItem('Buttonid_' + counter, 'Buttonid_' + counter);
        sessionStorage.setItem('ULid' + counter, 'ULid' + counter);
        sessionStorage.setItem('rowID' + counter, 'rowID' + counter);

    }

    if (referringPageURL.endsWith('/homepagev2/') || referringPageURL.includes('/homepagev2/questionnairedirectory') || referringPageURL.includes('/homepagev2/create/addproject') || referringPageURL.includes('/homepagev2/create/CustomisePermissions')) {

        console.log('doesnt end with summary....');

        var counter = parseInt(sessionStorage.getItem('questionnaireCounter')) || 0;

        if (document.getElementById('add-project').checked == true) {
            console.log('checked');
            if (document.getElementById('customise-access-permissions').checked == true) {
                sessionStorage.setItem('customisePermissions', true);
            }
            document.forms["CreationEnterDetails"].action = "/prototypes/example/homepageV2/create/AddProject.html";    
        } 
        else {
            console.log('running');
            if (document.getElementById('customise-access-permissions').checked == true) {
                document.forms["CreationEnterDetails"].action = "/prototypes/example/homepageV2/create/CustomisePermissions.html";    

            } else {
                document.forms["CreationEnterDetails"].action = "/prototypes/example/homepageV2/create/summaryOfNewQuestionnaire.html";    

            }
        }
    }
    
    
    if(referringPageURL.includes('/homepagev2/create/summaryofnewquestionnaire')){
        console.log('elseeee');
        var counter = parseInt(sessionStorage.getItem('questionnaireCounter')) || 0;

        var title = document.getElementById('title-input').value; 
        var shortcode = document.getElementById('shortcode-input').value;
        sessionStorage.setItem('Title_' + counter, title);
        sessionStorage.setItem('Shortcode_' + counter, shortcode);
        document.forms["CreationEnterDetails"].action = "/prototypes/example/homepageV2/create/summaryOfNewQuestionnaire.html";    

    }
    
    

}


</script>
{% endblock %}
