---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}

{% block preMain %}
{{
    onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": '/prototypes/example/login_journeys/URTasks/UserTaskListB.html',
                "id": "back",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}
{% endblock %}

{% block main %}

    <h1 class="ons-u-mb-s">Task 4</h1>


    <p>You are unsure if you have an Author account or not and have been asked by a colleague to create a questionnaire. 
    </p>
        <ol>
    <li>Describe what you see.</li>
    <li>Decide what to do with the information.</li>
    <li>Take action accordingly.</li>


    </ol>

    <br>

        <p>Your credentials are:
    </p>
    <ul>
        <li>Email address: <strong>Your ONS email</strong></li>
        <li>For the sake of this task, your password is <strong>not</strong> UserResearch2023!</li>


    </ul>
    
    <br>

{{
    onsExternalLink({
        "url": "/prototypes/example/login_journeys/VPN/NoAccount/",
        "linkText": "Start task",
        "classes": "externalLink ons-u-fs-l"
    })
}}

{% endblock %}

{% block bodyEnd %}

{% endblock %}
