---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}

{% block preMain %}
{{
    onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": '/prototypes/example/homepageV2/URTasks/UserTaskList.html',
                "id": "back",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}
{% endblock %}

{% block main %}

    <h1 class="ons-u-mb-s">Task 7</h1>

        <h3 class="ons-u-mb-s ons-u-mt-m">Task 7a</h3>



    <p>Your manager has asked you to create a questionnaire with the following details. 

    </p>
    <ul>
        <li><strong>Title:</strong> Social Media Usage and Impact Survey</li>
        <li><strong>Short code:</strong> SMUIS Testing Round 2</li>
        <li><strong>Project tag:</strong> Social Media </li>

    </ul>


{{
    onsExternalLink({
        "url": "/prototypes/example/homepageV2/",
        "linkText": "Start task",
        "classes": "externalLink ons-u-fs-m"
    })
}}

        <h3 class="ons-u-mb-s ons-u-mt-xl">Task 7b</h3>


    <p>Your team is starting a <strong>new project</strong> around "Impacts of Teacher Strikes" 

    </p>

    <p>Your manager wants you to create a new questionnaire.</p>
    <ul>
        <li><strong>Title:</strong> Impacts of Teacher Strikes v1</li>
        <li><strong>Short code:</strong> ITSv1</li>
        <li><strong>Project tag:</strong> Impacts of School Strikes </li>
    </ul>

{{
    onsExternalLink({
        "url": "/prototypes/example/homepageV2/",
        "linkText": "Start task",
        "classes": "externalLink ons-u-fs-m"
    })
}}

{% endblock %}

{% block bodyEnd %}

{% endblock %}
