---
group: Examples
title: Example prototype
layout: example/views/Author8colLoggedIn
---
{% from "components/button/_macro.njk" import onsButton %}


{% set form =  {
    "method": "GET",
    "attributes": {
        "name": "myForm",
        "onsubmit":  "return validateForm()"
    }
} %}

{% block main %}
    <h1 class="ons-u-mb-s">Welcome to Author</h1>

    <a href="#">Labour Market Survey</a>
    <br><br>
    <a href="#">Teacher Insights Survey</a>
    <br><br>
    <a href="#">Rental Market Prices Survey</a>
    <br><br>

{% endblock %}

{% block bodyEnd %}


{% endblock %}
