
{% extends "layout/_template.njk" %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/password/_macro.njk" import onsPassword %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/header/_macro.njk" import onsHeader %}



{% set pageConfig = {
    "header": {
        "logoHref": '/',
        "titleLogoHref": pageInfo.rootPath + '#0',
        "variants": "internal",
        "serviceLinks": {
        "id": "service-links",
        "ariaLabel": 'Services menu',
        "ariaListLabel": 'Menu',
        "toggleServicesButton": {
            "text": 'Account',
            "ariaLabel": 'Toggle services menu'
        },
        "itemsList": [

            {
                "title": "Sign out",
                "url": "/prototypes/example/login_journeys/"
            }
        ]
        }
    },
    "title": "Author",
    "footer": {

    },
    "pageColNumber": "8",
    "wide": true
} %}



{% block head %}
    <link rel="stylesheet" href="/prototypes/example/styles.css" />

    <style>
    .blockLink{
        display:block;
    }
    </style>

{% endblock %}

{% block preMain %}
{% endblock %}

{% block main %}
{% endblock %}

{% block bodyEnd %}
    <script src="../index.js">
    
    </script>

{% endblock %}
