---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}



{% block main %}

    <h1 class="ons-u-mb-s">Task 2</h1>


    <p>It’s been a while since you last signed in and you urgently need to make some changes to a questionnaire. 
    </p>
    <p>You are really unsure about what your password is. The only one you can think of is <strong>Questionnaires!!</strong> 
    </p>

    <br>

        <p>Your credentials are:
    </p>
    <ul>
        <li>Email address: <strong>Your ONS email</strong></li>

    </ul>
    
    <br>


    {{
    onsButton({
        "text": 'Start task',
        "url": '/prototypes/example/login_journeys/',
        "newWindow": true,
        "newWindowDescription": 'opens in a new window',
        "attributes": {
            "onclick": "window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=360,height=680'); return false;"
        }
    })
}}

{% endblock %}

{% block bodyEnd %}

{% endblock %}
