---
group: Examples
title: Example prototype
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

{% set pageConfig = {
    "wide": "true",
    "header": {
        "logoHref": '/',
        "titleLogoHref": pageInfo.rootPath + '#0',
        "variants": 'internal',
        "serviceLinks": {
            "id": "service-links-internal",
            "ariaLabel": 'Services menu',
            "ariaListLabel": 'Menu',
            "toggleServicesButton": {
                "text": 'Account',
                "ariaLabel": 'Toggle services menu'
            },
            "itemsList": [
                {
                    "text": "My Questionnaires",
                    "url": "/prototypes/example/homepageV3/"
                },                
                {
                    "text": "All Questionnaires",
                    "url": "/prototypes/example/homepageV3/questionnaireDirectory"
                },
                {
                    "text": "Projects",
                    "url": "/prototypes/example/homepageV3/projects.html"
                },
                {
                    "text": "Jane Lewis",
                    "iconType": 'person'
                },
                {
                    "text": "Sign out",
                    "url": "#0"
                }
            ]
        },
        "navigation": {
            "id": 'main-nav',
            "ariaLabel": 'Main menu',
            "currentPath": '#home',
            "itemsList": [
                {
                    "text": 'Questionnaire content',
                    "url": '#home'
                },
                {
                    "text": 'View in EQ',
                    "url": '#0'
                },
                {
                    "text": 'Settings',
                    "url": '#0'
                },
                {
                    "text": 'Sharing',
                    "url": '#0'
                },
                {
                    "text": 'Collection lists',
                    "url": '#0'
                },
                {
                    "text": 'Data',
                    "url": '#0'
                },
                {
                    "text": 'Q codes',
                    "url": '#0'
                }
            ],
            "toggleNavigationButton": {
                "text": 'Menu',
                "ariaLabel": 'Toggle main menu'
            }
        }

    },
    "title": "Author",
    "footer": {

    },
    "breadcrumbs": {
        "ariaLabel": 'Breadcrumbs',
        "itemsList": [
            {
                "linkClasses": 'js-previous' if prevPage else '',
                "url": pageInfo.rootPath + "/" + prevPage + '.html',
                "text": 'Previous'
            }
        ]
    }
} %}

{% block head %}


{% endblock %}

{% block preMain %}

{% endblock %}

{% block main %}

    <h1>Your new questionnaire has been created</h1>

    <p>In real life you would be brought to the landing page of your new questionnaire. However, this is not part of the test or prototype.</p>

    <a href="/prototypes/example/homepageV3/">Return to My questionnaires</a>


{% endblock %}

{% block bodyEnd %}

<script>
if(sessionStorage.getItem('customisePermissions')){
    sessionStorage.removeItem('customisePermissions');
}
</script>

{% endblock %}