---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}


{% block main %}
    <h1 class="ons-u-mb-s">User research - June 2023</h1>

    {{
        onsExternalLink({
            "url": "/prototypes/example/login_journeys/",
            "linkText": "Preview sign in"
        })
    }}    
    <br><br>
    <h2 class="ons-u-mb-s">Tasks</h2>

    <a href="/prototypes/example/login_journeys/URTasks/A/Task1/index.html">Task 1</a>
    <br><br>
    <a href="/prototypes/example/login_journeys/URTasks/A/Task2/index.html">Task 2</a>
    <br><br>
    <a href="/prototypes/example/login_journeys/URTasks/A/Task3/index.html">Task 3</a>
    <br><br>
    <a href="/prototypes/example/login_journeys/URTasks/A/Task4/index.html">Task 4</a>
    <br><br>
    <a href="/prototypes/example/login_journeys/URTasks/A/Task5/index.html">Task 5</a>


{% endblock %}

{% block bodyEnd %}

{% endblock %}
