---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}


{% block main %}
    <h1 class="ons-u-mb-s">User research - June 2023</h1>

    <a href="/prototypes/example/login_journeys/">Preview sign in</a>
    <br><br>
    <h2 class="ons-u-mb-s">Tasks</h2>

    <a href="/prototypes/example/login_journeys/URTasks/Task1/index.html">Task 1</a>
    <br><br>
    <a href="/prototypes/example/login_journeys/URTasks/Task2/index.html">Task 2</a>
    <br><br>
    <a href="/prototypes/example/login_journeys/URTasks/Task3/index.html">Task 3</a>
    <br><br>
    <a href="/prototypes/example/login_journeys/URTasks/Task4a/index.html">Task 4a</a>
    <br><br>
    <a href="/prototypes/example/login_journeys/URTasks/Task4b/index.html">Task 4b</a>
    <br><br>
    <a href="/prototypes/example/login_journeys/URTasks/Task5/index.html">Task 5</a>
    <br><br>
    <a href="/prototypes/example/login_journeys/URTasks/Task6/index.html">Task 6</a>

{% endblock %}

{% block bodyEnd %}

{% endblock %}
