---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}

{% block preMain %}
{{
    onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": '/prototypes/example/homepageV2/URTasks/UserTaskList.html',
                "id": "back",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}
{% endblock %}

{% block main %}

    <h1 class="ons-u-mb-s">Task 8</h1>


    <p>All of the Small Business Survey questionnaires have been deleted from Author. </p>
    <p>Your manager has asked you to delete the <strong>Small Business Survey</strong> project.
    </p>

{{
    onsExternalLink({
        "url": "/prototypes/example/homepageV2/",
        "linkText": "Start task",
        "classes": "externalLink ons-u-fs-m"
    })
}}

{% endblock %}

{% block bodyEnd %}

{% endblock %}
