---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}

{% block preMain %}
{{
    onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": '/prototypes/example/homepage/URTasks/UserTaskList.html',
                "id": "back",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}
{% endblock %}

{% block main %}

    <h1 class="ons-u-mb-s">Task 6</h1>


    <p>Find the following questionnaire: 

    </p>

    <ul>
        <li>Shortcode: <strong>Testing Round 1</strong></li>
        <li>Owner: <strong>Isabella Ramirez</strong></li>
        <li>Access: <strong>Editor</strong></li>
    </ul>


{{
    onsExternalLink({
        "url": "/prototypes/example/homepageV2/",
        "linkText": "Start task",
        "classes": "externalLink ons-u-fs-m"
    })
}}

{% endblock %}

{% block bodyEnd %}

{% endblock %}
