---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}

{% block preMain %}
{{
    onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": '/prototypes/example/homepageV2/URTasks/UserTaskList.html',
                "id": "back",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}
{% endblock %}

{% block main %}

    <h1 class="ons-u-mb-s">Task 2 TBD</h1>


    <p>Your colleague <strong>Chris Smith</strong> is the owner of a questionnaire for the <strong>Teacher Support and Job Satisfaction Survey</strong> and has added you as an editor.

    </p>
    <p>Chris is now off sick, and you have to continue their work. You are unsure what Chris has named the questionnaire.

    </p>
    <p>Your task is to find the questionnaire.</p>
    
    <br>

{{
    onsExternalLink({
        "url": "/prototypes/example/homepageV2/",
        "linkText": "Start task",
        "classes": "externalLink ons-u-fs-l"
    })
}}

{% endblock %}

{% block bodyEnd %}

{% endblock %}
