---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}

{% block preMain %}
{{
    onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": '/prototypes/example/homepageV2/URTasks/UserTaskList.html',
                "id": "back",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}
{% endblock %}

{% block main %}

    <h1 class="ons-u-mb-s">Task 2</h1>


    <p>You are part of the <strong>Teacher Support and Job Satisfaction Survey</strong> project.

    </p>
    <p>The naming conventions established for the project mean that when a questionnaire is created for testing, the word <strong>'testing'</strong> is added to the <strong>shortcode</strong>.

    </p>
    <p>Find the number of questionnaires used for testing in the project that you have <strong>editor access</strong> to.</p>
    
{{
    onsExternalLink({
        "url": "/prototypes/example/homepageV2/",
        "linkText": "Start task",
        "classes": "externalLink ons-u-fs-m"
    })
}}

{% endblock %}

{% block bodyEnd %}

{% endblock %}
