---
group: Examples
title: Example prototype
layout: example/test/views/wide
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/status/_macro.njk" import onsStatus %}
{% from "components/accordion/_macro.njk" import onsAccordion %}