---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "name": "duplicateQuestionnaireProject",
        "onsubmit":  "return duplicationProject()"
    }
} %}

{% block head %}


{% endblock %}

{% block preMain %}

{{
    onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": '/prototypes/example/homepage/test/modalTest2.html',
                "id": "backlink",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}

{% endblock %}

{% block main %}

    <h1><span class="ons-u-fs-m ons-u-db ons-u-mb-xs ons-u-lighter">Duplicate questionnaire</span> Add a project tag</h1>

    <p>A project tag enables the grouping of related questionnaires and enhances filtering options.</p>

    {{
        onsPanel({
            "body": '<p>A project tag can be edited in Settings after the questionnaire is created</p>',
            "classes": "ons-u-mb-m"
        })
    }}

    <div class="ons-panel ons-panel--error ons-panel--no-title" id="date-mutually-exclusive-error">
  <span class="ons-panel__assistive-text ons-u-vh">Error: </span>
  <div class="ons-panel__body">
    <p class="ons-panel__error">
      <strong>Enter a project tag name</strong>
    </p>
    {{ onsAutosuggest({
                "id": "project",
                "label": {
                    "text": "Search for and select a project tag",
                    "description": "If the project you need is not listed, you can create a new project",
                    "id": "project-label"
                },
                "autocomplete": "off",
                "instructions": "Use up and down keys to navigate suggestions once you\'ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures.",
                "ariaYouHaveSelected": "You have selected",
                "ariaMinChars": "Enter 3 or more characters for suggestions.",
                "ariaOneResult": "There is one suggestion available.",
                "ariaNResults": "There are {n} suggestions available.",
                "ariaLimitedResults": "Results have been limited to 10 suggestions. Type more characters to improve your search",
                "moreResults": "Continue entering to improve suggestions",
                "resultsTitle": "Suggestions",
                "resultsTitleId": "project-suggestions",
                "autosuggestData": "/projects.json",
                "noResults": "No suggestions found. You can enter your own answer",
                "typeMore": "Continue entering to get suggestions"
    }) }}

                  {{
        onsCheckboxes({
            "classes": "ons-u-mt-s",
            "checkboxesLabel": "Or",
            "checkboxesLabelClasses": "ons-u-fw-b ons-u-mt-s",
            "dontWrap": true,
            "checkboxes": [
                {
                    "id": "create-project",
                    "attributes": {
                        "onclick": "mutuallyExclusive()"
                    },
                    "label": {
                        "text": "Create a new project tag",
                        "description": "After creating the questionnaire, the new project will be available to select"
                    },
                    "checked": "true",
                    "value": "other",
                    "other": {
                        "id": "new-project",
                        "name": "other-answer",
                        "label": {
                            "text": "Enter project tag name"
                        },
                        "classes": "ons-input--error"
                    }
                }
            ]
        })
    }}
  </div>
</div>

    <div class="ons-u-mt-l">
        {{
            onsButton({
                "text": "Continue"
            })
        }}

        <a class="ons-u-dib ons-u-ml-s ons-u-mt-xs" href="#">Cancel</a>

    </div>

{% endblock %}

{% block bodyEnd %}

<script>
function mutuallyExclusive(){
    console.log("print");
    if(document.getElementById('project').value != ""){
        document.getElementById('project').value = "";
    }
}

function duplicationProject() {
    var counter = sessionStorage.getItem('questionnaireCounter');

    var project = document.getElementById('project').value;
    sessionStorage.setItem('Project_' + counter, project);

    if(sessionStorage.getItem('customisePermissions')){
        document.forms["duplicateQuestionnaireProject"].action = "/prototypes/example/homepage/test/duplicate/CustomisePermissions.html";    
    }
    else{
        document.forms["duplicateQuestionnaireProject"].action = "/prototypes/example/homepage/test/NewQuestionnaire.html";    
    }
}

</script>
{% endblock %}
