---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "name": "myForm",
        "onsubmit":  "return validateForm()"
    }
} %}

{% block main %}
    {% call onsPanel({
        "title": 'There are 2 problems with this page',
        "type": 'error',
        "classes": "ons-u-mb-xl"
}) %}
    {{
        onsList({
            "element": 'ol',
            "itemsList": [
                {
                    "text": 'You cannot login with an email address from outside the Office for National Statistics',
                    "url": '#email-error',
                    "variants": "inPageLink"
                },
                {
                    "text": 'Enter your password',
                    "url": '#password-error',
                    "variants": "inPageLink"
                }
            ]
        })
    }}
{% endcall %}

    <h1 class="ons-u-mb-s">Sign in</h1>

    {{
        onsInput({
            "id": "email",
            "name": "email",
            "label": {
                "text": "Email address"
            },
            "error": {
                "id": "email-error",
                "text": "You cannot login with an email address from outside the Office for National Statistics"
        }
        })
    }}

    {{
    onsPassword({
        "id": "password",
        "name": "password",
        "label": {
            "text": "Password"
        },
        "showPasswordText": "Show password",
            "error": {
                "id": "password-error",
                "text": "Enter your password"
        }

    })
}}

    <a class="blockLink ons-u-mb-m  ons-u-mt-m" href="/prototypes/example/login_journeys/VPN/NoAccount/ForgotPassword/">Forgot password?</a>


    {{
    onsCheckboxes({
        "checkboxesLabel": "",
        "dontWrap": true,
        "name": "types",
        "borderless": true,
        "checkboxes": [
            {
                "id": "booklet",
                "label": {
                    "text": "Stay signed in"
                },
                "value": "staySignedIn"
            }
        ]
    })
}}


    {{
        onsButton({
            "text": "Sign in",
            "classes": "ons-u-mt-l ons-u-mb-xl"
        })
    }}

    <h2 class="ons-u-mb-m">Need to create an account?</h2>
    <a href="/prototypes/example/login_journeys/VPN/NoAccount/CreateAccount/">Create an account</a>


{% endblock %}

{% block bodyEnd %}
    <script>
        console.log('hello world');
        var Email = sessionStorage.getItem('EmailEntered');
        console.log(Email);
        document.getElementById('email').value = Email;

    </script>
    
    <script>
        function validateForm(){
            console.log('run');
            let x = document.forms["myForm"]["email"].value;
            let y = document.forms["myForm"]["password"].value;
            if ((x == "") && (y != "")) {
                document.forms["myForm"].action = "/prototypes/example/login_journeys/VPN/NoAccount/errors/NoEmail.html";    
            }
            if ((x == "") && (y == "")) {
                document.forms["myForm"].action = "/prototypes/example/login_journeys/VPN/NoAccount/errors/NoEmailorPassword.html";    
            }
            if ((x != "") && (x.indexOf("@") == -1) && (y != "")) {
                sessionStorage.setItem('EmailEntered', x);    
                document.forms["myForm"].action = "/prototypes/example/login_journeys/VPN/NoAccount/errors/InvalidEmailFormat.html";    
            }
            if ((x != "") && (x.indexOf("@") == -1) && (y == "")) {
                sessionStorage.setItem('EmailEntered', x); 
                console.log(x);   
                document.forms["myForm"].action = "/prototypes/example/login_journeys/VPN/NoAccount/errors/InvalidEmailFormat_noPassword.html";    
            }
            if ((x != "") && (x.indexOf("@") != -1) && (x.includes("@ons.gov.uk") == false) && (y != "")) {
                sessionStorage.setItem('EmailEntered', x);    
                document.forms["myForm"].action = "/prototypes/example/login_journeys/VPN/NoAccount/errors/NotONSEmail.html";    
            }
            if ((x != "") && (x.indexOf("@") != -1) && (x.includes("@ons.gov.uk") == false) && (y == "")) {
                sessionStorage.setItem('EmailEntered', x);    
                document.forms["myForm"].action = "/prototypes/example/login_journeys/VPN/NoAccount/errors/NotONSEmail_NoPassword.html";    
            }
            if ((x != "") && (x.indexOf("@") != -1) && (x.includes("@ons.gov.uk") == true) && (y != "")) {
                sessionStorage.setItem('EmailEntered', x);    
                document.forms["myForm"].action = "/prototypes/example/login_journeys/VPN/NoAccount/errors/NoAccountFound.html";    
            }
            if ((x != "") && (x.indexOf("@") != -1) && (x.includes("@ons.gov.uk") == true) && (y == "")) {
                sessionStorage.setItem('EmailEntered', x);    
                document.forms["myForm"].action = "/prototypes/example/login_journeys/VPN/NoAccount/errors/NoAccountFoundNoPassword.html";    
            }
        }
    </script>
{% endblock %}
