---
group: Examples
title: Example prototype
layout: example/homepage/test/2col_Layout
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}
{% from "components/table/_macro.njk" import onsTable %}

{% block head %}

<style>

    .modal-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8); 
      backdrop-filter: blur(3px); 
      display: none; 
      z-index: 100;
    }

    .ons-modal {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 101;
      display:none;
      margin:0;
    }

</style>

{% endblock %}

{% block main %}


<button type="submit" class="ons-btn" onclick="confirmDeletion()">
  <span class="ons-btn__inner"><span class="ons-btn__text">Delete</span>
  </span>
</button>

<div class="modal-container" id="modalContainer">
  <dialog class="ons-modal" id="modalDialog" role="dialog">
    <div class="ons-modal__content">
      <div class="ons-modal__body">
        {#<p>It appears you have been inactive for a while.</p>#}

        {% from "components/summary/_macro.njk" import onsSummary %}
        {{
            onsSummary({
                "summaries": [
                    {
                        "summaryTitle": "Are you sure you want to delete this questionniare?",
                        "groups": [
                            {
                                "rows": [
                                    {
                                        "rowItems": [
                                            {
                                                "rowTitle": "Short code",
                                                "valueList": [
                                                    {
                                                        "text": "Copy of V3 Draft QCAS 0019"
                                                    }
                                                ]
                                            },
                                            {
                                                "rowTitle": "Title",
                                                "valueList": [
                                                    {
                                                        "text": "Copy of Quarterly Acquisitions and Disposals of Capital Assets Survey"
                                                    }
                                                ]
                                            },
                                            {
                                                "rowTitle": "Project",
                                                "valueList": [
                                                    {
                                                        "text": "Annual Business Survey (ABS)"
                                                    }
                                                ]
                                            },
                                            {
                                                "rowTitle": "Owner",
                                                "valueList": [
                                                    {
                                                        "text": "Deborah O'Shaughnessy"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            })
        }}

      </div>
      <div class="ons-u-fr">
        <button type="button" class="ons-btn ons-btn--secondary ons-u-mt-s" onclick="cancelDeletion()">
            <span class="ons-btn__inner"><span class="ons-btn__text">Cancel</span>
            </span>
        </button>
        <button type="submit" class="ons-btn ons-js-modal-btn ons-u-mt-s" onclick="deleteQuestionnaire('row1')">
        <span class="ons-btn__inner"><span class="ons-btn__text">Delete</span>
        </span>
        </button>
      </div>
    </div>
  </dialog>
</div>

            <h2 class="ons-u-fs-m" id="questionnaireCount">84 questionnaires</h2>

            <table id="basic-table" class="ons-table">
            <caption class="ons-table__caption">A basic table with a caption</caption>
            <thead class="ons-table__head">
                <tr class="ons-table__row">
                <th scope="col" class="ons-table__header">
                    <span class="ons-table__header-text">Short code and title</span>
                </th>
                <th scope="col" class="ons-table__header">
                    <span class="ons-table__header-text">Project</span>
                </th>
                <th scope="col" class="ons-table__header">
                    <span class="ons-table__header-text">Owner</span>
                </th>
                <th scope="col" class="ons-table__header">
                    <span class="ons-table__header-text">Activity</span>
                </th>
                <th scope="col" class="ons-table__header">
                    <span class="ons-table__header-text">Access</span>
                </th>
                <th scope="col" class="ons-table__header">
                    <span class="ons-table__header-text ons-u-invisible">Actions</span>
                </th>
                </tr>
            </thead>
            <tbody class="ons-table__body">
                <tr class="ons-table__row row-relative" id="row1">
                <td class="ons-table__cell"> Cell A1 </td>
                <td class="ons-table__cell"> Cell B1 </td>
                <td class="ons-table__cell"> Cell C1 </td>
                <td class="ons-table__cell"> Cell D1 </td>
                <td class="ons-table__cell"> Cell E1 </td>
                <td class="ons-table__cell">
                    <div class="menu-container">
                        <button type="button"
                                id="menubutton1"
                                class="actionsBtn"
                                aria-haspopup="true"
                                aria-controls="menu2" onclick="toggleMenu(event, 'menu1')">
                            Actions
                        <svg class="ons-icon ons-u-ml-xs" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor"><path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path></svg>
                        </button>
                        <ul id="menu1"
                            role="menu"
                            aria-labelledby="menubutton" class="menu">
                            <li role="none" class="duplicate">
                            <span class="material-symbols-outlined">
                                content_copy
                                </span>
                            <a role="menuitem" class="listItemLink" href="https://www.w3.org/">
                                Duplicate
                            </a>
                            </li>
                            <li role="none">
                            <button role="menuitem" class="listItemButton">
                                <span class="material-symbols-outlined">
                                link
                                </span>
                                Copy link
                            </button>
                            </li>
                            <li role="none">
                            <button role="menuitem" class="listItemButton">
                                <span class="material-symbols-outlined">
                                star
                                </span>
                                Add to starred
                            </button>
                            </li>
                            <li role="none" class="ons-u-mb-no">
                            <button role="menuitem" class="listItemButton">
                                <span class="material-symbols-outlined">
                                delete
                                </span>
                                Delete
                            </button>
                            </li>
                        </ul>
                    </div>
                </td>
                </tr>
                <tr class="ons-table__row row-relative" id="row2">
                <td class="ons-table__cell"> Cell A2 </td>
                <td class="ons-table__cell"> Cell B2 </td>
                <td class="ons-table__cell"> Cell C2 </td>
                <td class="ons-table__cell"> Cell D2 </td>
                <td class="ons-table__cell"> Cell E2 </td>
                <td class="ons-table__cell">
                    <div class="menu-container">
                        <button type="button"
                                id="menubutton2"
                                class="actionsBtn"
                                aria-haspopup="true"
                                aria-controls="menu2" onclick="toggleMenu(event, 'menu2')">
                            Actions
                        <svg class="ons-icon ons-u-ml-xs" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor"><path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path></svg>
                        </button>
                        <ul id="menu2"
                            role="menu"
                            aria-labelledby="menubutton" class="menu">
                            <li role="none" class="duplicate">
                            <span class="material-symbols-outlined">
                                content_copy
                                </span>
                            <a role="menuitem" class="listItemLink" href="https://www.w3.org/">
                                Duplicate
                            </a>
                            </li>
                            <li role="none">
                            <button role="menuitem" class="listItemButton">
                                <span class="material-symbols-outlined">
                                link
                                </span>
                                Copy link
                            </button>
                            </li>
                            <li role="none">
                            <button role="menuitem" class="listItemButton">
                                <span class="material-symbols-outlined">
                                star
                                </span>
                                Add to starred
                            </button>
                            </li>
                            <li role="none" class="ons-u-mb-no">
                            <button role="menuitem" class="listItemButton">
                                <span class="material-symbols-outlined">
                                delete
                                </span>
                                Delete
                            </button>
                            </li>
                        </ul>
                    </div>
                </td>
                </tr>
            </tbody>
            </table>




{% endblock %}

{% block bodyEnd %}

  <script>
  function confirmDeletion(){
    console.log('hello');
    var container = document.getElementById('modalContainer');
    container.style.display = "block";
    var modal = document.getElementById('modalDialog');
    modal.style.display = "block";
  }

    function cancelDeletion(){
        console.log('hello');
        var container = document.getElementById('modalContainer');
        container.style.display = "none";
        var modal = document.getElementById('modalDialog');
        modal.style.display = "none";
  }

  function deleteQuestionnaire(rowId) {
    var row = document.getElementById(rowId);
    if (row) {
        row.remove();
        var container = document.getElementById('modalContainer');
        container.style.display = "none";
        var modal = document.getElementById('modalDialog');
        modal.style.display = "none";

        var questionnaireCountElement = document.getElementById('questionnaireCount');
        var currentCount = parseInt(questionnaireCountElement.textContent, 10);
        if (!isNaN(currentCount) && currentCount > 0) {
        questionnaireCountElement.textContent = (currentCount - 1) + ' questionnaires';
      }
    }
  }


</script>
{% endblock %}
