---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "name": "myForm",
        "onsubmit":  "return duplicationEnterDetails()"
    }
} %}

{% block head %}


{% endblock %}

{% block preMain %}

{% endblock %}

{% block main %}

    <h1>New Questionnaire</h1>

    <a href="/prototypes/example/homepage/test/modalTest2.html">Return to My questionnaires</a>


{% endblock %}

{% block bodyEnd %}


{% endblock %}