---
group: Examples
title: Example prototype
layout: example/views/homepageV2
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/select/_macro.njk" import onsSelect %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "name": "confirmDeletion",
        "onsubmit":  "return confirmDeletionOfProject()"
    }
} %}


{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


{% endblock %}

{% block preMain %}

{{
    onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": '/prototypes/example/homepageV2/projects/SmallBusinessSurvey/',
                "id": "backlink",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}

{% endblock %}

{% block main %}


<div class="ons-grid">

    <div class="ons-grid__col ons-col-8@m">
        
        <h2 class="ons-u-fs-xl">Are you sure you want to delete "Small Business Survey”?</h2>

        {% call onsPanel({
                "type": 'warn'
            })
        %}
            Deleting this project will remove it from all associated questionnaires.
        {% endcall %}

        <p class="ons-u-mt-s ons-u-mb-m">You cannot recover a deleted project. Instead, it would need to be recreated and reassigned to all relevant questionnaires.</p>

    {{
        onsRadios({
            "name": "confirm-deletion",
            "id": "confirm-deletion",
            "dontWrap": true,
            "radios": [
                {
                    "id": "yes",
                    "label": {
                        "text": "Yes, delete the project"
                    },
                    "value": "yes"
                },
                {
                    "id": "no",
                    "label": {
                        "text": "No"
                    },
                    "value": "no"
                }
            ]
        })
    }}

        <div class="ons-u-mt-l">
            {{
                onsButton({
                    "text": "Continue"
                })
            }}

            <a class="ons-u-dib ons-u-ml-s ons-u-mt-xs" href="/prototypes/example/homepageV2/projects/SmallBusinessSurvey/">Cancel</a>

        </div>

    </div>

</div>




{% endblock %}

{% block bodyEnd %}
<script>

function confirmDeletionOfProject(){
    var selectedValue = document.querySelector('input[name="confirm-deletion"]:checked');
    console.log(selectedValue);
    if (selectedValue.value === "yes") {
        document.forms["confirmDeletion"].action = "/prototypes/example/homepageV2/projects/SmallBusinessSurvey/deleted.html";    
    } else if (selectedValue.value === "no") {
        document.forms["confirmDeletion"].action = "/prototypes/example/homepageV2/projects/SmallBusinessSurvey/";    
    }

}

</script>
{% endblock %}