---
group: Examples
title: Example prototype
layout: example/views/homepageV2AfterProjectDeleted
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/select/_macro.njk" import onsSelect %}

{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<style>
    .filter-panel{
        width:100%;
        outline: 1px solid #E2E2E3;
    }

    .filter-heading-panel{
        background-color: var(--ons-color-grey-15);
    }

    {# 16px font size #}
    .u-fs-16{
        font-size:16px;
    }

    {# positioning the actions button relative to the row #}
    .row-relative{
        position:relative;
    }

    {# styling the actions button #}
    .menu-container{
        width: fit-content;
        float: right;
    }

    .actionsBtn .ons-icon{
        transform: rotate(90deg);
        }
    
    .actionsBtn{
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 2px solid #bcbcbd;
        border-radius: 3px;
        outline: none;
        padding: 9px 6px;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #707071;
        line-height: 1.35;
        cursor: pointer;
    }
    
    .actionsBtn:focus{
        background-color: #FBC900;
        border: 2px solid black;
        color: black;
    }
    
    .menu{
        display:none;
        background-color: #206095;
        padding:18px;
        list-style:none;
        width: fit-content;
        border-radius: 3px;
        border: 2px solid #003C57;
        position: absolute;
        top: 55px;
        right:0;
        z-index:1;
    }
    
    .listItemLink{
        color: white;
        margin-left: 20px;
        font-size: 16px;
        padding-bottom: 10px;
        padding-top:10px;
    }
    
    .listItemLink:hover{
        color: white;
        text-decoration: underline solid white 2px;
    }
    
    .duplicate{
        display: inline-flex;
        align-items: center;
        margin-left: 12px;
        color: white;
    }
    
    .listItemButton {
        display: inline-flex;
        box-sizing: border-box;
        width:100%;
        line-height: 1.35;
        align-items: center;
        background-color: #206095;
        color: white;
        border: 2px solid #206095;
        border-radius:3px;
        padding: 10px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    }
    
    .listItemButton .material-symbols-outlined {
        margin-right: 20px;
    }
    
    .listItemButton:hover {
        border: 2px solid white;
    
    }
    
    .listItemButton:focus {
        outline: none;
        background-color: #FBC900;
        border: 3px solid black;
        color: black;
    }

    {# styling the modal #}
    .modal-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8); 
        backdrop-filter: blur(3px); 
        display: none; 
        z-index: 100;
    }

    .ons-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 101;
        display:none;
        margin:0;
    }

    .filter-tag-button{
        border-radius: 3px;
        border: 1px solid #bcbcbd;
        background-color: #f5f5f6;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        padding: 4px 4px 4px 7px;
        margin-left: 10px;

    }

    .filter-tag-button span{
        color: #707071;

    }

    .AllFiltersFlexContainer{
        display:flex;
        flex-wrap: wrap;    
    }

    .FiltersFlexItems{
        display: flex;
        height: fit-content;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        margin-right: 27px;
        padding-bottom: 18px;

    }

    .filtered-out{
        display:none;
    }

    .ons-table__row:last-child{
        border-bottom: 1px solid #707071;
    }

    .tagAndClearFiltersContainer{
        display: flex;
        justify-content: space-between;
        margin: 27px 0px;
        border-bottom: 1px solid #e2e2e3;
    }

    .clearFilterBtn{
        background-color:white;
        border: 2px solid #6390B5;
        font-size: 16px;
        padding: 3px 6px;
        color:  #206095;
        border-radius: 3px;
        height: fit-content;
    }
    
    ul{
        list-style-type: none;
        padding-left:0rem;
    }
    
</style>

{% endblock %}

{% block pageContent %}

{{
    onsHero({
        "title": 'Projects',
        "text": 'Adding a project to a questionnaire enables related questionnaires to be grouped and enhances filtering.',
        "button": {
            "url": '#',
            "text": 'Create a project'
        },
        "wide": "true"
    })
}}

<div class="ons-page__container ons-container ons-container--wide">
<div class="ons-grid">
<div class="ons-grid__col ons-col-12@m">
<main id="main-content" class="ons-page__main">


<div class="ons-grid">

    <div class="ons-grid__col ons-col-8@m">
        {{
            onsInput({
                "id": 'search-field',
                "label": {
                    'text': 'Search',
                    "classes": 'ons-u-pb-xxs ons-u-mb-no'
                },
                "searchButton": {
                    "visuallyHideButtonText": true,
                    "text": 'Search',
                    "iconType": 'search',
                    "attributes": {
                        "onclick": "searchProjects()"
                    }
                }
            })
        }}

        <div style="display:flex; align-items:center; justify-content: space-between;">
            <h2 class="ons-u-mt-l ons-u-fs-xl" id="number-of-projects">11 projects</h2>
            <button class="clearFilterBtn" style="display:none;" id="clearSearchBtn" onclick="clearSearch()">Clear search</button>
        </div>
        <ul id="list-of-projects">
            <li><a href="#" class="ons-u-d-b ons-u-mb-s">Community Connections Study</a></li>
            <li><a href="#" class="ons-u-d-b ons-u-mb-s">Financial Planning Survey</a></li>
            <li><a href="#" class="ons-u-d-b ons-u-mb-s">Green Initiatives Assessment</a></li>
            <li><a href="#" class="ons-u-d-b ons-u-mb-s">Impacts of Brexit</a></li>
            <li><a href="#" class="ons-u-d-b ons-u-mb-s">Junior Doctors Survey</a></li>
            <li><a href="#" class="ons-u-d-b ons-u-mb-s">People and Policy</a></li>
            <li><a href="#" class="ons-u-d-b ons-u-mb-s">Social Media</a></li>
            <li><a href="#" class="ons-u-d-b ons-u-mb-s">Teacher Support and Job Satisfaction Survey</a></li>
            <li><a href="#" class="ons-u-d-b ons-u-mb-s">Teachers Survey</a></li>
            <li><a href="#" class="ons-u-d-b ons-u-mb-s">Trust in Government 2023</a></li>
            <li><a href="#" class="ons-u-d-b ons-u-mb-s">UK Health Trends</a></li>
        </ul>

    </div>

</div>

</main>
</div>
</div>
</div>



{% endblock %}

{% block bodyEnd %}
<script>
    function searchProjects() {
        var searchValue = document.getElementById('search-field').value.toLowerCase();
        var projectList = document.getElementById('list-of-projects').getElementsByTagName('a');
        var numberOfProjects = 0;

        for (var i = 0; i < projectList.length; i++) {
            var project = projectList[i];
            var projectName = project.textContent.toLowerCase();

            if (projectName.includes(searchValue)) {
                project.parentElement.style.display = 'block';
                numberOfProjects++;
            } else {
                project.parentElement.style.display = 'none';
            }
        }

        var numberOfProjectsElement = document.getElementById('number-of-projects');
        
        if(searchValue != ''){
            numberOfProjectsElement.textContent = numberOfProjects + ' projects with \'' + searchValue + '\'';
            document.getElementById('clearSearchBtn').style.display = "block";
        }
        else{
            numberOfProjectsElement.textContent = "11 projects";
            document.getElementById('clearSearchBtn').style.display = "none";
        }
    }

    function clearSearch(){
        document.getElementById('search-field').value = '';
        document.getElementById('clearSearchBtn').style.display = "none";
        searchProjects();
    }

</script>
{% endblock %}