---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "name": "myForm",
        "onsubmit":  "return validateForm()"
    }
} %}

{% block preMain %}
{{
    onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": '/prototypes/example/login_journeys/VPN/NoAccount/',
                "id": "back",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}
{% endblock %}

{% block main %}
    <h1 class="ons-u-mb-s">Check your email</h1>

    <p>We have sent an email to: <strong id="boldedEmail" class="ons-u-fs-r--b"></strong></p>
    
    <p>The email may take a few minutes to arrive. If it does not, please check your spam, bulk or junk email folder as your email system may have blocked it by mistake. </p>
        
    

{{
    onsDetails({
        "id": "details",
        "title": "I have not received the email",
        "content": "<p>A link to reset your password will only be sent if the email you provided is associated with an activated account. If you do not receive a link, you may need to <a href='/prototypes/example/login_journeys/VPN/NoAccount/CreateAccount/'>create an account</a>.</p>"
    })
}}

{% endblock %}

{% block bodyEnd %}

<script>
    const pipeEmail = document.getElementById("boldedEmail");
    var enteredEmail = sessionStorage.getItem('ForgotPasswordEmail');
    pipeEmail.innerHTML = enteredEmail;

</script>

{% endblock %}
