---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "name": "myForm",
        "onsubmit":  "return validateForm()"
    }
} %}

{% block preMain %}

{% endblock %}

{% block main %}

{{
    onsPanel({
        "type": 'success',
        "id": 'success-id',
        "iconType": 'check',
        "body": 'Your Author account has been activated',
        "iconSize": "l",
        "classes": "ons-u-fs-l ons-u-mb-m"
    })
}}

<p class="ons-u-mb-m">You can now start creating surveys with Author.</p>

<a href="/prototypes/example/login_journeys/VPN/Account/">Sign in</a>

{% endblock %}

{% block bodyEnd %}


{% endblock %}
