---
group: Examples
title: Example prototype
layout: example/views/Author8col
---
{% from "components/button/_macro.njk" import onsButton %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "name": "myForm",
        "onsubmit":  "return validateForm()"
    }
} %}

{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<style>
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-rounded{
    color: black;
    background-color: #FAC064;
}
</style>
{% endblock %}

{% block preMain %}

{% endblock %}

{% block main %}
    {% call onsPanel({
        "title": 'There are 2 problems with this page',
        "type": 'error',
        "classes": "ons-u-mb-xl"
}) %}
    {{
        onsList({
            "element": 'ol',
            "itemsList": [
                {
                    "text": 'Your password must include at least 16 characters',
                    "url": '#password-error',
                    "variants": "inPageLink"
                },
                {
                    "text": 'Confirm your password',
                    "url": '#confirm-password-error',
                    "variants": "inPageLink"
                }


            ]
        })
    }}
{% endcall %}

    <h1 class="ons-u-mb-s"><span class="ons-u-fs-m ons-u-db ons-u-mb-xs ons-u-lighter">Create an account</span>Create your password</h1>

    {{
    onsPanel({
        "body": '<p>Your password must include at least 16 characters.</p>'
    })
}}

    {{
    onsPassword({
        "id": "password",
        "name": "password",
        "label": {
            "text": "Password"
        },
        "showPasswordText": "Show password",
        "error": {
            "id": "password-error",
            "text": "Your password must include at least 16 characters"
        }

    })
}}

    {{
    onsPassword({
        "id": "confirm-password",
        "name": "confirm-password",
        "label": {
            "text": "Confirm password"
        },
        "showPasswordText": "Show password",
        "error": {
            "id": "confirm-password-error",
            "text": "Confirm your password"
        }

    })
}}

    {{
        onsButton({
            "text": "Create account",
            "classes": "ons-u-mt-l ons-u-mb-l"
        })
    }}



{% endblock %}

{% block bodyEnd %}

    <script>
        function validateForm(){
            console.log('run');
            let x = document.forms["myForm"]["password"].value;
            let y = document.forms["myForm"]["confirm-password"].value;

            if ((x != "") && (y != "") && (x == y) && (x.length >= 16)) {
                document.forms["myForm"].action = "/prototypes/example/login_journeys/nonVPN/CreateAccount/AccountActivated.html";    
            }

            if ((x != "") && (y == "") && (x.length >= 16)) {
                document.forms["myForm"].action = "/prototypes/example/login_journeys/nonVPN/CreateAccount/errors/createPassword/NoConfirm.html";    
            }

            if ((x != "") && (y != "") && (x != y) && (x.length >= 16)) {
                document.forms["myForm"].action = "/prototypes/example/login_journeys/nonVPN/CreateAccount/errors/createPassword/NoMatch.html";    
            }
            
            if ((x == "") && (y != "")) {
                document.forms["myForm"].action = "/prototypes/example/login_journeys/nonVPN/CreateAccount/errors/createPassword/NoPassword.html";    
            }
            if ((x == "") && (y == "")) {
                document.forms["myForm"].action = "/prototypes/example/login_journeys/nonVPN/CreateAccount/errors/createPassword/NoPasswordNoConfirm.html";    
            }
            if ((x != "") && (y != "") && (x != y) && (x.length < 16)) {
                document.forms["myForm"].action = "/prototypes/example/login_journeys/nonVPN/CreateAccount/errors/createPassword/Not16_NoMatch.html";    
            }
            if ((x != "") && (y != "") && (x == y) && (x.length < 16)) {
                document.forms["myForm"].action = "/prototypes/example/login_journeys/nonVPN/CreateAccount/errors/createPassword/Not16.html";    
            }
            if ((x != "") && (y == "") && (x.length < 16)) {
                document.forms["myForm"].action = "/prototypes/example/login_journeys/nonVPN/CreateAccount/errors/createPassword/Not16NoConfirm.html";    
            }

        }
    </script>

{% endblock %}
